force-app/main/default/flows/Submit_Equipment_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>67.0</apiVersion>
    <dynamicChoiceSets>
        <name>EquipmentTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Equipment_Type__c</picklistField>
        <picklistObject>Equipment_Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Submit Equipment Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Equipment Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Equipment_Request</name>
        <label>Create Equipment Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Equipment_Type__c</field>
            <value>
                <elementReference>Equipment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Cost__c</field>
            <value>
                <elementReference>Estimated_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Justification__c</field>
            <value>
                <elementReference>Justification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Equipment_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Equipment_Request_Form</name>
        <label>Equipment Request Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Equipment_Request</targetReference>
        </connector>
        <fields>
            <name>Equipment_Type</name>
            <choiceReferences>EquipmentTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Equipment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Justification</name>
            <fieldText>Justification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Cost</name>
            <dataType>Number</dataType>
            <fieldText>Estimated Cost</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Equipment_Request_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
